
#border-tab {
  border-color: blue;
  border-width: 1px;
  border-style: dashed
}
div#border-notes {
  border-color: yellow;
  border-width: 2px;
  border-style: solid
}
div#border-todo {
  border-color: orange;
  border-width: 2px;
  border-style: solid
}
