#border-tab {
  border-color: blue;
  border-width: 1px;
  border-style: dashed
}
div#border-todo {
  border-color: orange;
  border-width: 2px;
  border-style: solid
}
.dash-container {
  padding: 1rem;
  margin: 2rem;
  border: cyan 1px solid;
}
