<div id="border-notes">
  <h2>Notes</h2>
  <p>Lorem at ipsum duo diam et aliquyam gubergren, takimata lorem consetetur consetetur et. Justo ipsum dolor dolor dolores accusam sadipscing et et diam.</p>
  <p>Lorem at ipsum duo diam et aliquyam gubergren, takimata lorem consetetur consetetur et.</p><br>
  <h2>Notes2</h2>
  <p>Lorem at ipsum duo diam et aliquyam gubergren, takimata lorem consetetur consetetur et. Justo ipsum dolor dolor sadipscing et et diam.</p>
  <br>
  <h2>Notes3</h2>
  <ul>
    <li>Et et sadipscing kasd at nonumy takimata invidunt.</li>
    <li>Labore sea duo et ut.</li>
    <li>Justo justo ipsum no amet dolor duo diam et et dolor.</li>
    <li>Erat rebum clita et clita takimata nonumy. Dolor nonumy eirmod dolores aliquyam.</li>
  </ul>
</div>
